:root {
  --red: #e50914;
  --black: #141414;
}

* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

/* base elements */

body {
  background-color: var(--black);
  font-family: "Arial", Times, serif;
  color: white;
}

header .logo {
  margin-left: 5px;
  color: var(--red);
  font-family: "Arial Black";
  font-size: 40px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

header nav a:hover {
  color: #fff;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* main movie */

.main-movie {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("/img/cover-breakingbad.jpg");
  height: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-movie .description {
  margin-bottom: 40px;
  margin-top: 10px;
}

.main-movie .title {
  margin-top: 15%;
  font-size: 40px;
  font-family: "Trebuchet MS";
}

.button {
  background-color: rgba(0, 0, 0, 0.5);
  margin-right: 15px;
  border: none;
  color: white;
  padding: 15px 30px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s ease all;
  margin-bottom: 30px;
}

.button:hover {
  background-color: white;
  color: black;
}

.button i {
  margin-right: 8px;
}

.container {
  margin-left: 20px;
  margin-right: 16px;
}

.main-movie .container {
  width: 80%;
}

.box-movie {
  height: 100%;
  width: 100%;
  display: block;
}

.carousel-movie {
  margin-top: 5px;
}
